
.WeatherData{
    background-color: #eeeeee;
    overflow: auto;
}

.WeatherExtraInfo {
    width: 50%;
    float: right;
    background: black;
    color: white;
}

.WeatherTemperature {
    width: 50%;
    float: left;
}