.Weather {
    max-width:576px;
    border: 1px solid #eee;
    -webkit-box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.75);
    font-family: 'Roboto', sans-serif;
}